*{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main{
    height:100vh;
    width:100vw;
    background-image: url('https://images.unsplash.com/photo-1648461513134-0a2ea8b8dee2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGlhbm8lMjB3YWxscGFwZXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second{
    
text-align: center;
height: 50vh;
width:70vw;
background-image:  linear-gradient(to bottom left, white , black);
border: 10px solid black;
border-radius: 50px;
}
.second>h1{
    color: white;
    font-size: 50px;
}

.third{
   display: flex;
   justify-content:space-between;
   position: relative;
   align-items: center;
height: 70%;
width:90%;
margin-left:40px
}
.key{
transition: all 0.07s ease;

}
.white{
    height:100%;
    width:100px;
    background-color: white;
    font-size: 10px;
    border-radius: 10px;
    border: 1px solid black;
    padding-top: 200px;
    box-sizing: border-box;
}

.black{
margin-top:-92px;
position: absolute;
    height:60%;
    font-size: 10px;
    width:50px;
    background-color: black;
padding-top: 100px;
box-sizing: border-box;
   color:white;
border-radius: 10px;
z-index: 3;
}
.black:nth-child(2){
    left:7%;
}
.black:nth-child(4){
    left:17%;
}.black:nth-child(7){
    left:37%;
}.black:nth-child(9){
    left:47%;
}
.black:nth-child(11){
    left:57%;
}.black:nth-child(14){
    left:77%;
}
.black:nth-child(16){
    left:87%;
}
.play{
    box-shadow: inset 0px 0px 10px 2px rgb(88, 87, 87);
    transform: scale(1.1);
    border-color: 1px solid yellow;
    transition: all 0.05s linear;
}
 
